@media (max-width:640px){
    #nav{
        display: none;
    }
    .nav-tablet i 
    {
        display: block;
    }
    .modal .modal-content 
    {
        width: 100%;
    }
    .slider-text 
    {
        flex-direction: column;
    }
    #slider 
{
    height: 900px;
    margin-top: 120px;
    background: #0C0F38;
}
.slider-text 
{
    background: #0C0F38;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-content
{
    display: block;
    padding: 30px;
}
.slider-text img 
{
    width: 250px;
}
.heading-slider 
{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}
.sub-slider 
{
    color: #FDD430;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.about 
{
   color: #fff;
   width: 210px;
   line-height: 35px;
}
.box 
{
    margin-top:30px;
    background: #fff;
    padding: 15px;
    transition: 0.5s;
    width: 90%;
}
.content-text 
{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading-content 
{
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.about-content 
{
    width: 240px;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 30px;
    margin-left: 15px;
}
.box-content 
{
    background: #000;
    color: #fff;
    width: 50%;
    padding: 15px;
    margin-left: 65px;
}
.content-text img 
{
    width: 200px;
}
.all-box
{
   flex-direction: column;
}
#content-2 
{
    height: 4000px;
   
}
#content-2 .content-text-2
{
    height: 3900px;
}
.content-box-2 
{
    border: 2px solid #fff;
    width: 90%;
    height: 500px;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.heading-box-2 
{
    font-size: 20px;
    margin-bottom: 20px;
}
.about-box-2 
{
    font-size: 17px;
    line-height: 35px;
}
.box-2
{
    width: 80%;
    margin-left: 35px;
}
#content-3
{
    height: 2600px;
}
.content-3-text 
{
    height: 2500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.all-box-2 
{
   flex-direction: column;
   padding: 20px;
}
.content-box-3 
{
    width: 90%;
}
.form-box
{
    background: #0C0F38;
    height: 400px;
    width: 250px;
    margin-top: -400px;
    border-radius: 24px;
}
.submit 
{
    width: 100%;
    color: #e83e8c;
    margin-left: 0%;
}
.about-3 
{
    padding: 30px;
    line-height: 35px;
}
.about-2 
{
    padding: 20px;
    line-height: 35px;
}
.last-heading h1 
{
    font-size: 30px;
    color: #fff;
    margin-top: 50px;
    text-align: center;
}

}
@media (min-width:641px) and (max-width:1178px){
    #nav{
        display: none;
    }
    .nav-tablet i 
    {
        display: block;
    }
    .slider-text 
    {
        flex-direction: column;
    }
    #content 
{
    height: 1000px;
}
.content-text 
{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading-content 
{
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.about-content 
{
    width: 550px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.box-content 
{
    background: #000;
    color: #fff;
    width: 30%;
    padding: 15px;
    margin-left: 185px;
}

#content-2 
{
    height: 2100px;
   
}
#content-2 .content-text-2
{
    height: 2000px;
}
.heading-box-2 
{
    font-size: 20px;
    margin-bottom: 20px;
}
.about-box-2 
{
    font-size: 17px;
}
.content-box-2 
{
    border: 2px solid #fff;
    width: 45.9%;
    height: 500px;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
}
.box-2
{
    width: 90%;
    margin-left: 40px;
}
.content-box-3 
{
    width: 60%;
    margin-left: 15px;
}
.content-box-3 i
{
    margin-top: 80px;
   font-size: 30px;
   margin-bottom: 30px;
}
.content-box-3 p 
{
    margin-top: 20px;
}
.content-box-3 h1 
{
    font-size: 20px;
}
.about-2 
{
    padding: 20px;
}
.about-3 
{
    padding: 30px;
    line-height: 35px;
}
}